<div class="charts-container container">
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-view">
        <app-line-chart></app-line-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-view">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-view">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-view">
        <app-bubble-chart></app-bubble-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-view">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-view">
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-view">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-view">
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-view">
        <app-polar-chart></app-polar-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-view">
        <app-scatter-chart></app-scatter-chart>
      </div>
    </div>
  </div>
</div>
