.login-view {
  .login-row {
    .login-box {
      padding: 15px;
      border: 1px solid #9C9C9C;
      background-color: #EAEAEA;
      .inline-error {
        color: red;
      }
      .register-link {
        cursor: pointer;
      }

      .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        span {
          background: #EAEAEA !important;
      
            padding: 7px;
            font-size: 12px;
            position: relative;   
            z-index: 2;
        }
      }
      .divider-text:after {
          content: "";
          position: absolute;
          width: 100%;
          border-bottom: 1px solid #ddd;
          top: 55%;
          left: 0;
          z-index: 1;
      }

      .btn-facebook {
        background-color: #405D9D;
        color: #fff;
      }

      .btn-google {
        background-color: #c32f10;
        color: #fff;
      }

      .login-success-view {
        div {
          padding: 5px;
        }
      }

    } 
  } 
}
  