<div class="login-view container" *ngIf="registrationInfo.isLogin">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="login-row row justify-content-center align-items-center">
        <div class="login-column1 col-md-6">
            <div class="login-box col-md-12">
                <form [formGroup]="loginProfile" (ngSubmit)="onLoginClick()">
                    <h3 class="text-center text-info">Login</h3>
                    <div class="form-group">
                        <label for="username" class="text-info">Username:</label><br>
                        <input type="text" formControlName="userName"  class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                        <div *ngIf="submitted && f.userName.errors" class="inline-error">
                            <div *ngIf="f.userName.errors.required">Please enter username</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info">Password:</label><br>
                        <input type="password" formControlName="password"  class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="inline-error">
                            <div *ngIf="f.password.errors.required">Please enter password</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                        <label for="remember-me" class="text-info"><span>Remember me</span> <span>
                        <input class="remember-me" formControlName="rememberMe" type="checkbox"></span>
                        </label><br>
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">

                        </div>
                        <div class="col-sm-6">
                        <div class="register-link text-right" (click)="registrationInfo.isLogin= false;">
                        <a class="text-info">Register here</a>
                        </div>        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-registration *ngIf="!registrationInfo.isLogin" [(registrationInfo)]="registrationInfo"></app-registration>