
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
      <i class="fa fa-product-hunt" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <div class="navbar-nav mr-auto">
        <div *ngFor = "let menu of menuList;let i=index">
          <div class="nav-item active">
            <div class="nav-link" (click)="menuAction(menu.page)" *ngIf="!menu.subMenuList">{{menu.name}}</div>
            <div class="nav-item dropdown" *ngIf="menu.subMenuList">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menu.name}}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor = "let subMenu of menu.subMenuList;">{{subMenu.name}}</a>
              </div>
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </nav>